@import url(./__list/pacients__list.css);

.menu-active__nav {
    position: relative;
    top: 199px;
    left: 190px;
    width: 300px;
}

.menu-active__nav h2{
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 1.3em;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0.015;
    opacity: .5;
}

.menu-active__nav h2:hover {
    opacity: 1;
    text-decoration: underline;
}

.menu-active__nav-corruptions {
    white-space: pre;
}
