@import url(../__nav/__title/nav__title.css);
@import url(../__nav/__list_elem/nav__list_elem.css);
@import url(../__nav/__list/container__nav_list.css);

.menu-active__nav {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #f2f2f2;
    position: relative;
    top: 200px;
    left: 15%;
    margin: 0;
    padding: 0;
}

.menu-active__nav .nav__title:hover .nav__list {
    display: block;
}