.triangle {
    position: absolute;
    right: 0;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (max-width: 1340px) {
    .triangle {
       display: block;
        top: 30px
    }
}