@import url(../__news-text/__title/news-text__title.css);
@import url(../__news-text/__subtitle/news-text__subtitle.css);

.column-two__news-text {
    position: relative;
    margin: 0 auto;
    width: 580px;
}

@media (min-width: 1440px) {
    .column-two__news-text { 
        margin: 0 auto;
    }
}

@media (max-width: 1340px) {
    .column-two__news-text {
        width: 338px;
    }
}