@import url(../__menu_active/__menu-group/header__menu-group.css);
@import url(../__menu_active/__nav/menu-active__nav.css);

.header__menu_active {
    max-width: 50vw;
    width: 950px;
    height: 100vh;
    background: var(--color-bg);
    position: absolute;
    z-index: 213;
    display: none;
    transition: .7s linear;

}

.header__logo_active {
    position: absolute;
    top: 45px;
    left: 200px;
}