@import url(../../banner/column-two/__news/column-two__news.css);

.banner__column-two {
    background-color: #F36956;
    display: grid;
    width: 100%;
    position: relative;
    
}

.banner__photo-2 {
    width: 100%;
}

@media (max-width: 1340px) {
    .banner__column-two {
        background-color: #F36956;
    }
   
}

@media (max-width: 1023px) {
    .banner__photo-2 {
        display: none;
    }

    .banner__column-two {
        min-height: 392px;
    }
}
