@import url(../../../../main/banner/column-two/__news/__news-text/column-two__news-text.css);
@import url(../__news/__button/column-two__button.css);

.column-two__news {
    background-color:var(--color-bg);
    margin: 64px auto 100px;
    width: 600px;
}

@media (max-width: 1340px) {
    .column-two__news {
        margin: 51px auto 67px 90px;
        width: 337px;
    }
}

@media (max-width: 1023px) {
    .column-two__news {
        margin-top: 46px;
    }
}