@import url(../__table1/_desktop/data__table1-desktop.css);

.data__table1 {
    border-collapse: collapse;
    border: 1px solid var(--color-bg);
    width: 100%;
    margin: 51px 0 80px;
    display: none;
}

.data__table1:last-child {
    margin-bottom: 132px;
}

.data__table1_row {
    color: var(--color-bg);
    height: 65px;
    width: 63px;
    border-left: 1px solid var(--color-bg);
    border-top: 1px solid var(--color-bg);
    text-align: center;
}

.data__table1_row_grey { 
    color: var(--color-bg);
    background-color: #BDBDBD;
}

.data__table1_row_period { 
    background-color: #e0e0e0;
}

.data__table1_row_red {
    background-color: var(--color-bg);
    color: #f2f2f2;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
}

.data__table1_row2:first-child {
    border-left: 0;
}
