.place__paragraphs {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 36px;
}

.place__paragraph {
    margin: 0;
}


@media screen and (max-width: 1024px) {
    .place__paragraphs {
        grid-row-gap: 36px;
        font-size: 1rem;
    }
}