.news__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 37px;
    margin: 81px 0 0;
}

.news__subtitle_ph {
    margin: 0;
}

@media (max-width: 1340px) {
    .news__subtitle {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        margin: 21px 0 0;
    }
}
