@import url(../__corruption/__title/corruption__title.css);
@import url(../__corruption/__subtitle/corruption__subtitle.css);
@import url(../__corruption/__text/corruption__text.css);

.column-one__corruption {
    min-height: 774px;
    display: flex;
    margin: 12% auto 89px;
    flex-direction: column;
    justify-content: space-between;
    width: 580px;
}

@media (max-width: 1340px) {
    .column-one__corruption {
        width: 330px;
        margin: 59px auto 52px 58px;
        min-height: 509px;
    }
}

@media (max-width: 1023px) {
    .column-one__corruption {
        width: 340px;
        margin: 43px auto;
    }
}