.column-two__button {
    width: 580px;
    height: 88px;
    z-index: 101;
    background-color: #F2f2f2;
    color: #F36956;
    margin: 34px 0 0;
    font-weight: 500;
    font-size: 1.27em;
    line-height: 1.1;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1340px) {
    .column-two__button {
        width: 100%;
        margin: 34px 0 0;
        font-size: 1.124em;
    }
}

@media (max-width: 1023px) {
    .column-two__button {
        margin: 62px auto 1px;
        font-size: 14px;
        height: 61px;
    }
}