@import url(./__title/links__title.css);
@import url(./__link/links__link.css);

.column-two__links {
    margin: 12% auto 0;
    width: 580px;
}

@media (max-width: 1340px) {
    .column-two__links {
        width: 340px;
    }
}

@media (max-width: 1023px) {
    .column-two__links {
        margin: 45px auto;
    }
}