@import url(./__container/footer__container.css);
@import url(./__logo/footer__logo.css);

.footer {
    background-color: var(--color-bg-grey);
    display: flex;
    padding: 0 40px;
    flex-direction: column;
    position: relative;
}

@media (max-width: 1500px) {
    .footer {
        padding: 0 20px;
    }
}