.column-two__contrast-text {
    margin: 0;
    position: absolute;
    top: 35px;
    left: 32px;
    font-style: normal;
    font-size: 1.3em;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0.015em;
    color: #f2f2f2;
    display: none;
    text-align: left;
    width: 150px;
}


.column-two__contrast:hover .column-two__contrast-text {
    display: inline;
}