.feedback__title {
    margin: 0 0 238px;
    font-style: normal;
    font-weight: 600;
    font-size: 3.42rem;
    line-height: 1.1;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}


@media (max-width: 1340px) {
     .feedback__title {
         font-weight: 600;
         font-size: 30px;
         line-height: 35px;
    }
}

@media (max-width: 1023px) {
    .feedback__title {
       margin: 0;
   }
}