@import url(../column-two/__search/header__search.css);
@import url(../column-two/__contrast/column-two__contrast.css);

.header__column-two {
    background-color: #F36956;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 19;
}


@media (max-width: 1340px) {
    .header__column-two {
        background-color: #535353;
    }
}