@import url(./__search-icon/column-two__search-icon.css);

.header__search {
    width: 132px;
    min-height: 100%;
    background-color:#E0E0E0;
    cursor: pointer;
}

.header__search-line {
    width: calc(50vw - 132px);
    min-height: 100%;
    background-color: #E0E0E0;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
} 

.header__search-line_text {
    width: 75%;
    background: #E0E0E0;
    border: none;
    border-bottom: 1px solid #535353;
    top: 51px;
    left: 137px;
    position: relative;
    font-size: 34px;
    line-height: 12px;
    letter-spacing: 0.05em;
}

.header__search:hover .header__search-line {
    display: block;
}

@media (max-width: 1023px) {
    .header__search {
        width: 67px;
    }
}
    