@import url(./__pacients/footer__pacients.css);
@import url(./__corruptions/footer__corruptions.css);
@import url(./__about/footer__about.css);
@import url(./__contact/footer__contact.css);
@import url(./__pay-services/footer__pay-services.css);
@import url(./__triangle/triangle.css);

.footer__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 39px;
}

.footer__corruptions {
    margin: 0 48px 0 120px;
}

.footer__nav h2 {
    margin: 0;
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.05em;
    min-width: 240px;
}

@media (max-width: 1340px) {
    .footer__nav {
        flex-direction: column;
    }
    .footer__corruptions {
        margin: 0;
    }
}