.corruptions__list {
    list-style: none;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.005em;
    padding: 0;
    margin: 51px 0 0;
    color: #f2f2f2;
}

.corruptions__list-elem {
    text-decoration: none;
    margin-bottom: 30px;
}

.corruptions__list-elem_link {
    color: #f2f2f2;
    text-decoration: none;
    width: 170px;
}

@media (max-width: 1340px) {
    .corruptions__list {
        display: none;
        margin: 0;
    }

    .corruptions__list-elem {
        margin: 0;
    }
    
}