.links__title {
    font-weight: 600;
    font-size: 3.44rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: #F36956;
    left: 172px;
    top: 58px;
    margin: 0 0 290px;
}

@media (max-width: 1340px) {
    .links__title {
        font-size: 1.875rem;
        margin: 0 0 40px;
    }
}