.container__text_span {
    font-weight: 600;
    margin: 20px 0 0;
    font-size: 20px;
    line-height: 22px;
    font-style: normal;
}

@media (max-width: 1340px) {
    .container__text_span {
        font-size: 12px;
        line-height: 14px;
    }
}