.column-one__button {
    width: 580px;
    height: 88px;
    z-index: 101;
    background-color: var(--color-bg);
    margin: 366px auto 0;
    color: #f2f2f2;
    font-weight: 500;
    font-size: 1.26rem;
    line-height: 1.1;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.column-one__button:hover {
    color: var(--color-bg);
    background-color: unset;
    border: 1px solid var(--color-bg);
}

@media (max-width: 1340px) {
    .column-one__button {
        margin: 255px auto 0;
        font-size: 1.125rem;
        width: 335px;
    }
}

@media (max-width: 1023px) {
    .column-one__button {
        margin: auto;
        font-weight: 500;
        font-size: 14px;
        height: 61px;
        width: 335px;
    }
}