.sidebar__color_title {
    width: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    margin-right: 36px;

}