.container__elem {
    display: flex;
    margin: 0 0 15px;
    width: 335px;
    align-items: center;
}

.container__elem_ph {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.015em;
    margin: 0;
    color: #F36956;
}

.container__elem_img {
    margin: 0 12px 0 23px;
}